@import url(https://fonts.googleapis.com/css?family=Ewert);
@import url(https://fonts.googleapis.com/css?family=Delius+Unicase:400,700);
h1{
	text-align: center;
	font-family: 'Ewert', cursive;
	font-size: 96px;
	color: white;
	margin: 10px;
}
.logo{
	text-align: left;
	font-size: 25px;
}
body{
	background-color: rgb(40,40,40)
}
a{
	color: white;
}
h2 {
	font-family: 'Delius Unicase', cursive;
	color: white;
}
h3 {
	font-family: 'Delius Unicase', cursive;
	color: white;
}
li {
	font-family: 'Delius Unicase', cursive;
	color: white;
}
.instruct{
	margin-top: -585px;
	margin-left: 650px;
}
.kk{
	margin-left: 450px
}