@import url(https://fonts.googleapis.com/css?family=Ewert);
@import url(https://fonts.googleapis.com/css?family=Delius+Unicase:400,700);
h1{
	text-align: center;
	font-family: 'Ewert', cursive;
	font-size: 96px;
	color: white;
	margin: 10px;
}
.logo{
	text-align: left;
	font-size: 25px;
}
body{
	background-color: rgb(40,40,40);
	background-image: url("link");
	background-size: cover;
}
a{
	color: white;
}
img{
	width: 20%;
	height; 20%;
}
h2 {
	font-family: 'Delius Unicase', cursive;
	color: white;
}
h3 {
	font-family: 'Delius Unicase', cursive;
	color: white;
}
h4{
	color: white;
	text-align: center;
	font-family: 'Delius Unicase', cursive;
	font-size: 20px;
	margin-top: 5px;
}
li {
	font-family: 'Delius Unicase', cursive;
	color: white;
}
.instruct{
	margin-top: -300px;
	margin-left: 400px;
}
.kk{
	margin-left: 400px
}